/* Basic Setup */

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Reusable Components */

/* Header Section */

#header .nav_control {
    padding: 50px 0;
}

#header .nav_control img {
    width: 100%;
}

#header .nav_control #navbarSupportedContent {
    padding-left: 5.6rem;
}


#header .nav_control #navbarSupportedContent form {
    position: relative;
}

#header .nav_control #navbarSupportedContent form input {
    background: #F1F1F1;
    width: 50rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: none;
    padding: 1rem 2rem;
    font-size: 2rem;
}

#header .nav_control #navbarSupportedContent form input::placeholder {
    color: #CCCCCC;
    font-weight: 500;
    font-size: 1.6rem;
}

#header .nav_control #navbarSupportedContent form button {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border: 0;
    padding: 0;
    font-size: 2rem;
    color: #BABABA;
}

#header .nav_control #navbarSupportedContent .navbar-nav li.nav-item a.nav-link {
    color: #707070;
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0 1.5rem;
}

#header .nav_control #navbarSupportedContent .navbar-nav li.nav-item a.nav-link:hover {
    color: #1F1F1F;
}

/* Slider Section */

#sliderSection #carouselExampleControls {
    background: #FEEAE9;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 4.6rem;
}

#sliderSection #carouselExampleControls h1 {
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 8.4rem;
    color: #1F1F1F;
}

#sliderSection #carouselExampleControls p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #4E4E4E;
}

#sliderSection #carouselExampleControls h2 {
    font-weight: 500;
    font-size: 4.1rem;
    line-height: 6.2rem;
    color: #FF136F;
}

#sliderSection #carouselExampleControls a.btn_primary_control {
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border: none;
    padding: 1.5rem 2.3rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #FFFFFF;
}

#sliderSection #carouselExampleControls img {
    width: 85% !important;
}